
*{margin: 0;padding: 0;}

#main{
    -webkit-column-width: 202px;
}
.pic-box{
    padding: 15px 0 0 15px;
}
.box{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.box img{
    display: block;
    width: 165px;
}