body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

html{
  min-width: 100%;
  position: relative;
}

body {
  font: 12px/1.5 Microsoft YaHei, arial, sans-serif, '����';
}
input {
  border: 0 none;
  outline: none;
}
a {
  color: #323333;
  text-decoration: none;
}
ul li {
  list-style: none;
}
.clearFix {
  *zoom: 1;
}
.clearFix:before,
.clearFix:after {
  content: '';
  display: table;
}
.clearFix:after {
  clear: both;
  overflow: hidden;
}
/**
 * uiͼ�����ʽ
 **/
[class^='icon'] {
  display: inline-block;
  background: url(../img/sprite.png) no-repeat;
}
.icon-search {
  width: 20px;
  height: 20px;
  background-position: -9px -738px;
}
.icon-login {
  width: 18px;
  height: 18px;
  background-position: -11px -819px;
}
.icon-sel {
  width: 18px;
  height: 18px;
  background-position: -7px -587px;
}
.icon-huan {
  height: 63px;
  width: 41px;
  background-position: -5px -914px;
}
.icon-star,
.icon-book,
.icon-jt,
.icon-pos {
  width: 18px;
  height: 14px;
  position: relative;
  top: 1px;
}
.icon-star {
  background-position: -7px -133px;
}
.icon-pos {
  background-position: -7px -170px;
}
.icon-book {
  background-position: -7px -212px;
}
.icon-jt {
  background-position: -7px -528px;
}
[class^="btn"] {
  padding: 3px 13px;
  font-size: 12px;
  border-radius: 3px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: 0.2s background ease-out;
}
.btn-primary {
  border-color: #2189bf;
  background: #2189bf;
  color: #fff;
}
.btn-primary:hover {
  background: #196993;
}
/**
    chrome
**/
::-webkit-scrollbar-track-piece {
  background-color: #fff;
  -webkit-border-radius: 0;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #999;
  -webkit-border-radius: 4px;
  outline: 2px solid #fff;
  outline-offset: -2px;
  border: 2px solid #fff;
}
::-webkit-scrollbar-thumb:hover {
  height: 50px;
  background-color: #9f9f9f;
  -webkit-border-radius: 4px;
}
/**
 *  �������ݵ���ʽ
 **/
.m-head {
  background-color: #228abf;
  height: 56px;
  position: relative;
  min-width: 1280px;
}
.m-head .logo {
  height: 36px;
  width: 36px;
  position: absolute;
  left: 50px;
  top: 10px;
  background-color: #fff;
}
.m-head .logo:after {
  display: block;
  content: ".";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid #2189bf;
  top: 18px;
  left: 18px;
}
.logo-box {
  float: right;
  margin: 14px 100px 0 0;
}
.search,
.login {
  float: right;
}
.search {
  position: relative;
}
.search .icon-search {
  position: absolute;
  left: 10px;
  top: 5px;
}
.search input {
  width: 170px;
  height: 30px;
  border-radius: 50px;
  line-height: 30px;
  padding: 0 10px 0 40px;
  transition: 0.2s width ease-out;
}
.search input:focus {
  width: 310px;
}
.login {
  margin-left: 14px;
  height: 30px;
}
.login .icon-login {
  vertical-align: middle;
}
.login a {
  color: #fff;
  vertical-align: middle;
}
/**
 *  �м����������
 **/
.l-container {
}
/**
 *  ����������ʽ
 **/
.l-slider {
  position: absolute;
  bottom: 0;
  top: 56px;
  left: 0;
  width: 260px;
  background-color: #2a2e3d;
}
.userMsg {
  height: 150px;
}
.userName {
  height: 73px;
  padding-top: 17px;
  text-align: center;
}
.userName .userName-icon1 {
  display: inline-block;
  border: 1px solid #b2aaad;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  vertical-align: middle;
}
.userName .userName-icon1 .userName-icon2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #b2aaad;
  margin: 3px auto;
}
.userName span {
  margin-left: 18px;
  vertical-align: middle;
  color: #f6f5f5;
  font-size: 18px;
}
.user-info li {
  float: left;
  width: 50%;
  color: #6e8095;
  box-sizing: border-box;
}
.user-info li.item1 {
  text-align: right;
  padding-right: 30px;
}
.user-info li.item2 {
  text-align: left;
  padding-left: 30px;
  border-left: 1px solid #313645;
}
.menu-list {
  padding: 5px 0 5px 45px;
  color: #6e8095;
}
.menu-list:hover,
.menu-list.active {
  background-color: #383d4e;
}
.menu-list:hover .menu-title,
.menu-list.active .menu-title {
  color: #fff;
}
.menu-list:hover .menu-title b,
.menu-list.active .menu-title b {
  opacity: 1;
}
.menu-title {
  cursor: pointer;
  line-height: 28px;
}
.menu-title b {
  opacity: 0.5;
}
.child-tree {
  padding-left: 18px;
}
/**
 *  �Ҳ��������ʽ
 **/
.l-content {
  float: left;
  margin-left: 260px;
}
.m-title {
  padding: 0 30px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  background: #fff;
  color: #aaa;
}
.m-title > a {
  color: #aaa;
  padding: 0 9px;
}
.m-title > a:first-child {
  padding-left: 0;
}
.m-title > a:last-child {
  color: #2189bf;
}
.l-m-content {
  /*position: absolute;*/
  /*top: 30px;*/
  /*left: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
  padding: 20px 60px;
  box-sizing: border-box;
  background: #eeeeed;
  /*overflow-y: auto;*/
}
.m-search {
  width: 1800px;
  height: 70px;
  padding-top: 15px;
  text-align: center;
  background-color: #fff;
  box-shadow: 1px 0 1px 1px rgba(0, 0, 0, 0.1);
}
.one-search,
.two-search,
.three-search {
  float: left;
}
.one-search {
  width: 20%;
}
.u-select-box > span {
  color: #aaa;
  padding: 0 4px;
}
.u-select-box.f-pd {
  padding-bottom: 6px;
}
.u-select {
  display: inline-block;
  width: 70px;
  padding-left: 8px;
  text-align: left;
  height: 23px;
  line-height: 23px;
  cursor: pointer;
  border: 1px solid #aaa;
  position: relative;
}
.u-select .icon-sel {
  position: absolute;
  right: 1px;
  top: 3px;
}
.two-search {
  width: 20%;
  margin-right: 5%;
  position: relative;
}
.two-search .u-select-box {
  width: 178px;
  margin: 0 auto;
  text-align: left;
}
.two-search .u-select {
  width: 120px;
}
.two-search .icon-huan {
  position: absolute;
  left: 235px;
  line-height: 59px;
  color: #fff;
  top: 0;
}
.three-search {
  width: 40%;
  padding-left: 5%;
  text-align: left;
}
.three-search .u-select-box {
  padding-bottom: 6px;
}
.u-input {
  width: 130px;
}
.u-three {
  width: 120px;
}
.four-search {
  padding-top: 15px;
}
